@{
    ViewData["Title"] = "Politica De Seguridad";
}
<h1>@ViewData["Title"]</h1>

<p>
    La aplicación de catálogo de videojuegos está diseñada bajo un principio de respeto total a la privacidad. Para tu tranquilidad, detallamos el manejo de la información a continuación:

    Recopilación de Datos: No recolectamos información personal sensible. Los datos almacenados se limitan exclusivamente a la gestión del catálogo, tales como títulos, géneros, plataformas e imágenes de los videojuegos.

    Finalidad: Esta información se emplea únicamente para fines de organización y consulta personalizada dentro de la interfaz de la aplicación.

    Terceros: Tus datos no se comparten con entidades externas ni se utilizan con fines comerciales o publicitarios.

    Control del Usuario: Conservas en todo momento la propiedad y el control sobre la información ingresada, teniendo la libertad de modificarla o eliminarla cuando lo desees.

    Limitación de Responsabilidad: Al utilizar este servicio, aceptas los términos anteriores. Asimismo, la administración queda exenta de toda responsabilidad sobre la integridad de los datos en caso de eventos de fuerza mayor, tales como un apocalipsis o una inminente guerra contra osos soviéticos.
</p>
